<div class="margin-top-35"></div>

<div id="footer">
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<h4>A propos</h4>
				<p>Basé à Saint-Louis, le cabinet SIS’Tech intervient dans le développement de solutions informatiques spécifiques, notamment le développement de logiciels (client lourd), le développement d’application web, le développement mobile, la conception de base de données etc. Entre autres activités informatiques, SIS’Tech est aussi contracté dans le conseil,  l’infogérance, l’assistance et la formation des utilisateurs,  etc.</p>
				<!-- Facebook 
				<a href="#" class="button social-btn"><i class="fa fa-facebook-official"></i> Like Us on Facebook</a>
				-->
			</div>

			<div class="col-md-4  col-sm-6">
				<h4>Liens utiles</h4>
				<ul class="footer-links">
					<li><a href="#">About Us</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Projects</a></li>
				</ul>

				<ul class="footer-links">
					<li><a href="#">In the News</a></li>
					<li><a href="#">Our Blog</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>		

			<div class="col-md-3  col-sm-12">
				<h4>Contact</h4>
				<div class="text-widget">
					<span>Rue de France X Blanchot, Nord</span> <br>
					<span>Saint-Louis, Sénégal</span> <br>
					Phone: <span>(221) 77 555 97 08 </span><br>
					Fax: <span>(221) 77 555 97 08 </span> <br>
					E-Mail:<span> <a href="http://www.vasterad.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2e414848474d4b6e4b564f435e424b004d4143">[email&#160;protected]</a> </span><br>
				</div>
			</div>

		</div>
		
		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">©  Copyright 2018 by <a href="#">SIS'Tech</a>. All Rights Reserved.</div>
			</div>
		</div>

	</div>

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>