<div class="container">
  <div class="col-md-12">


      <br>

            <table style="width:100%" border="0" >
               
                <tr bgcolor="#fbfcfc"> 
                  <td  align="left"><h5><i><b>Système Gestion Stock</b></i></h5></td> <td></td>  </tr> 
                <br>
                <tr> 
                  <td align="center"><a><img src="/assets/images/magasin.jpg" alt=""></a></td>  
                </tr> 
                <br>
                <tr bgcolor="#fbfcfc"> 
                  <td align="right"><h5><i><b>et Unité Transformation.</b></i></h5></td>  </tr> 
                  </table>




</div>
</div>
