<!-- Wrapper -->
<div id="wrapper"></div>

<!-- Header
================================================== -->

<app-header></app-header>

<!-- Navigation
================================================== -->

<app-navigation></app-navigation>

<!-- Slider
================================================== -->

<router-outlet>
        <span *ngIf="showLoader" class="loading"></span>
    </router-outlet>

<!-- Footer
================================================== -->

<app-footer></app-footer>

<script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js')
      .then((registration) => {
        console.log('SW registered');
      })
      .catch((err) => {
        console.log('SW error', err);
      });
    }
  </script>